{% load edit_url %}<html>
  <head>
    <title>Test work</title>
{% block head %}
{% endblock %}
  </head>
  <body>
    <div>
{% block main_content %}
      {% for person in persons %}
      <table>
        <tr>
	  <td>Name</td>
	  <td>{{ person.name }}</td>
	</tr>
        <tr>
	  <td>Surname</td>
	  <td>{{ person.surname }}</td>
	</tr>
        <tr>
	  <td>Birthday</td>
	  <td>{{ person.date_of_birthday }}</td>
	</tr>
        <tr>
	  <td>E-mail</td>
	  <td>{{ person.email }}</td>
	</tr>
        <tr>
	  <td>Phone number</td>
	  <td>{{ person.cell_phone }}</td>
	</tr>
        <tr>
	  <td>Address</td>
	  <td>{{ person.address }}</td>
	</tr>
        <tr>
	  <td>CV</td>
	  <td>{{ person.curriculum_vita }}</td>
	</tr>
	<tr>
	  <td colspan='2'><a href="{% url person-edit person.id %}">Edit</a> or <a href="{% admin_edit_url person %}">Edit on admin page</a></td>
	</tr>
      </table>
    {% endfor %}
{% endblock %}
    </div>
{% block bottom  %}
    <div>
      <h4>Django settings:</h4>
      <ul>
	<li>LANGUAGE_CODE = {{ SETTINGS.LANGUAGE_CODE }}</li>
	<li>TIME_ZONE = {{ SETTINGS.TIME_ZONE }}</li>
	<li>SITE_ROOT = {{ SETTINGS.SITE_ROOT }}</li>
      </ul>
      
    </div>

Hello, {{ user }}! <a href="{% admin_edit_url user %}">Edit your profile</a>
{% endblock %}
  </body>
</html>
